.header {
  /* color: white; */
  font-size: 50px;
  background-color: #6495ed;
  width: 100%;
  display: flex;
  /* text-transform: uppercase; */
  padding-left: 40px;
  font-style: italic;
  

}
.cart{
  /* font-size: 50px;
  padding-left: 400px; */
  cursor: pointer;
    size:"large";
    /* padding-left: 790px; */
}
.card_style{
    cursor: pointer;
    transition: .3s;
}
  
  .smalltrash{
      display: none;
  }
  
  .cart2{
    font-size: 30px;
  }
  .card_style:hover{
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  
  .iteamsdetails{
      max-width: 800px;
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.082);
  }
  .items_img{
      flex: .4;
  }
  .items_img img{
      width: 20rem;
      border-radius: 5px;
  }
  
  .details{
      flex: .5;
      
      
  };
  
  .rating{
      background-color: green;
  }
  
  @media (max-width:772px){
      .iteamsdetails{
          flex-direction: column;
          align-items: center;
          justify-content: center;
      }
  }
  
  @media (max-width:450px){
      .smalltrash{
          display: block;
      }
      .largetrash{
          display:none;
      }
      .emptycart_img{
          margin-right: 50px;
      }
      .smallclose{
          display: none;
      }
  
      /* individual iteams details */
     
      .items_img img{
          width: 16rem;
      }
      
  }
.header2{
 padding-left: 790px;
 size:"large";
 cursor: pointer;
}
.header3{
 padding-left: 500px;
color: bisque;
font-size: 60px;
}
.badge{
  text-align: right;
  padding-top: 40px;
}
.nav {
  color:white;
  /* background-color: antiquewhite; */
  padding: 30px;
  align-items: center;
  height: 600px;
   background-color: teal;
}
.div3 {
  width: 360px;
  height: 430px;
  /* border: 1px solid bisque; */
  background-color: white;
  width: fit-content;
  margin-left: 1%;
}
.icon {
  width: 80px;
  height: 30px;
  color: brown;
  font-size: 25px;
}
.div2 {
  display: flex;
  /* flex-flow: row wrap; */
  width: 88%;
  height: 400px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 40px;
  flex-direction: "row";
}
.cart{
  font-size: 20px;
  
}
.icon3{
  font-size: 18px;
}
.icon2{
  font-size: 15px;
}
.footer{
  padding-top: 260px;
}
.img {
  margin-top: 12px;
  width: 320px;
  height: 280px;
  padding-left: 12px;
  align-items: flex-start;
}
.btn {
  width: 120px;
  height: 40px;
  border-radius: 5px;
  /* background-color: teal; */
}
.botton {
  width: 170px;
  height: 40px;
  border-radius: 5px;
  background-color: teal;
}
.container {
  display: flex;
}
.imgcontainers {
  margin-top: 12px;
  flex: 1;
}
.details {
  flex: 2;
}
